:root {
    --ps-field-color: white;
}

*[ng-reflect-placeholder]:not(.has-value),
*[ng-reflect-form-control-name]:not(.has-value),
*[psFcName]:not(.has-value) {
    --placeholder-color: #ffffff !important;
    --placeholder-opacity: 0.5 !important;
}

.ng-touched:not(.has-value),
.ng-untouched:not(.has-value) {
    color: hsla(0, 0%, 100%, 0.3) !important;
    --placeholder-opacity: 0.5 !important;
}


*[ng-reflect-placeholder].has-value,
*[ng-reflect-form-control-name].has-value,
*[psFcName].has-value,
.ng-touched.has-value,
.ng-untouched.has-value,
*[psFcName].ion-dirty {
    color: var(--ps-field-color) !important;
}

.lbl-required-star {
    display: none;
}