ps-template-popup-message {
    display: flex;
    align-items: center;
}

.alert-modal {
    --background: transparent !important;
    --box-shadow: none !important;
    background: var(--ps-alert-modal-background-color);
}


.alert-modal .ion-page {
    height: 100%;
    position: relative;
    contain: content;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.popup-modal {
    background: #2f2f5fd1;
    /* background: hsla(264, 47%, 22%, 0.86); */
    z-index: 999999;
    border-radius: 10px;
}

.popup-modal>* {
    padding: 0.5em;
}

.popup-modal-message-label ion-label,
.popup-modal-title-label ion-label {
    color: var(--ps-font-light-color);
}

.ps-popup-modal-button ion-button {
    --background: var(--ps-button-logout-background-color) !important;
    color: var(--ps-font-dark-color);
    /* opacity: 0.7; */
}

.success-alert .popup-modal-title-label ion-label {
    color: #10dc60;
}

.failure-alert .popup-modal-title-label ion-label {
    color: red;
}

.popup-modal {
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 30%;
    padding: 10px;
    /* min-height: 50%; */
}

.popup-modal-img {
    order: 2;
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-modal-gif {
    display: inline;
    width: 5rem;
}

.popup-modal-title {
    order: 1;
    flex-grow: 1;
    display: flex;
    align-content: center;
    justify-content: center;
}

.failure-alert .popup-modal-title {
    display: none !important;
}

.popup-modal-title-label ion-label {
    font-size: 2rem;
    font-weight: bold;
}

.popup-modal-message {
    order: 3;
    flex-grow: 5;
    display: flex;
    align-content: center;
    justify-content: center;
}

.popup-modal-message-label {
    text-align: center;
    display: flex;
}

.popup-modal-message-label ion-label {
    font-size: 1rem;
    align-self: center;
    white-space: normal;
}

.popup-modal-button {
    flex-grow: 1;
    order: 4;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.popup-modal-button ps-button-standard {
    display: flex;
    align-items: center;
}

.popup-modal-button ps-action-button {
    width: 100%;
}

.ps-popup-modal-button {
    width: 100%;
}

.ps-popup-modal-button ion-button {
    width: 100%;
    --border-radius: 2rem;
    --border-style: solid;
    --border-width: 2px;
    font-size: 1.2rem;
    font-weight: bold;
    margin: auto;
    padding-inline-end: 0.3em;
}

.ps-popup-modal-button .text-truncate {
    white-space: normal !important;
}

.failure-alert .popup-modal-img {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}