<ps-template-stepper [options]="stepperOptions" [id]="stepperOptions.stepperName">
  <ps-form-step step1 [id]="stepperOptions.namesofSteps[0]">
    <ps-container-panel [options]="panelOptions1Step2" id="forgot_cred_panel1">

      <ps-complex-bank-authentication [options]="grpOptions">
      </ps-complex-bank-authentication>

    </ps-container-panel>
    <ps-container-panel [options]="panelOptions2Step2" id="forgot_cred_panel2">

      <ps-input-password id="card_pin" [options]="cardPinOptions">
      </ps-input-password>


      <ps-complex-id-details [options]="complexIdDetailsOptions">
      </ps-complex-id-details>


      <ps-entity-phone-number [options]="complexPhoneOptions"></ps-entity-phone-number>

      <!-- Updated by Hisham.Omar TP#1136182 start-->
      <ps-date-day-month-year-past-asString id="date_day_month_year_past" [options]="psDateDayMonthYearPastOptions">
      </ps-date-day-month-year-past-asString>
      <!-- Updated by Hisham.Omar TP#1136182 end-->

    </ps-container-panel>
  </ps-form-step>
  <ps-form-step step2 [id]="stepperOptions.namesofSteps[1]">
    <ps-container-panel [options]="forgotPasswordPanelOptions" id="forgot_cred_panel3"
      [ngClass]="{'dim-content':sendUserName}">

      <ps-complex-user-credentials [options]="userCredentialsOptions1" id="forgot_password">
      </ps-complex-user-credentials>

    </ps-container-panel>
    <div class="ps-or-label">
      <span class="or-label-separator pre-label-separator">----</span>
      <ps-label [options]="orLabelOptions"></ps-label>
      <span class="or-label-separator post-label-separator">----</span>
    </div>
    <ps-select-checkbox [ngClass]="{'dim-content':!sendUserName}" id="forgot_username" class="forget-username-checkbox"
      [options]="forgotUsernameOptions" (onPsChange)="onforgotUsernameChanged($event)">
    </ps-select-checkbox>
  </ps-form-step>
</ps-template-stepper>