<ps-container-complex [id]="'container_complex_'+id">

    <ps-input-username *ngIf="options.userNameOption" [id]="'input_username_' + id" [options]="options.userNameOption"
        (onPsChange)="onChangeUsername($event)" (onPsEmpty)="onEmptyUsername()">
    </ps-input-username>


    <ps-complex-password-confirm *ngIf="options.passwordConfirmOptions" [id]="'complex_password_confirm_' + id"
        [options]="options.passwordConfirmOptions" (onPasswordChange)="onChangeComplexNewPassword($event)"
        (onConfirmPasswordChange)="onChangeComplexConfirmPassword($event)"></ps-complex-password-confirm>



    <ps-confirm-pin *ngIf="options.pinConfirmOptions" [id]="'complex_pin_confirm_' + id"
        (onPinChange)="onChangeComplexNewPin($event)" (onConfirmPinChanged)="onChangeComplexConfirmPin($event)"
        [options]="options.pinConfirmOptions">
    </ps-confirm-pin>




    <ps-complex-security-questions *ngIf="options.securityQuestionOptions" [id]="'complex_security_question_' + id"
        [options]="options.securityQuestionOptions" (onSecurityQuestionChange)="onChangeSecurityQuestion($event)"
        (onAnswerChange)="onChangeSecurityAnswer($event)"></ps-complex-security-questions>


</ps-container-complex>