<ps-container-form class="ps-form-map" [options]="formOptions">
  <div #googleMapCanvas id="google-map-canvas" class="ps-form-map">
  </div>
  <!-- <div class="ps-map-legend">
    <div class="legend-title">{{"legend_key" | translate}}</div>
    <div class="container-fluid legend-wrapper" #legendWrapper>
      <ps-action-image *ngFor="let image of legend" [options]="image">

      </ps-action-image>
    </div>
  </div> -->

  <!-- <ps-label-input class="map-not-load" [options]="labelOptions" *ngIf="noPlatform"></ps-label-input> -->
</ps-container-form>