<div class="container-fluid">
  <div class="row">
    <div class="col-12 ps-map-segment-section" *ngIf="options.showSegments">
      <ps-segment-atm-cdm-branches (segmentButtonClicked)="onClickSegment($event)"
        [options]="segmentAtmCdmBranchesOptions" (onDataLoad)="onDataLoad($event)">
      </ps-segment-atm-cdm-branches>
    </div>
    <div class="col-12 ps-map-map-section">
      <ps-label class="selected-branch" [options]="selectedBranchLabelOptions"
        *ngIf="selectedBranchVal !== '' && isSelectableMarker"></ps-label>
      <ps-form-map (onMarkerClick)="onMarkerClick($event)" [options]="mapOptions" [id]="id" class="ps-map-atm-branches">
      </ps-form-map>
    </div>

    <div class="col-12 ps-map-modal-section" *ngIf="onClickMarker">
      <ps-action-modal (onModalDismiss)="onModalDismiss()" [options]="modalOptions">
      </ps-action-modal>
    </div>
  </div>
  <ps-keyin-input [options]="mapInputOptions" [hidden]="true"></ps-keyin-input>
 
  <ps-keyin-input [options]="defaultOptions" [hidden]="true"></ps-keyin-input>
</div>


<div *ngIf="previewMode" class="ps-custom-component-preview" psPreviewEngine>
  <ps-label-input *ngIf="options.labelKey" [id]="'lbl_'+ id" [options]="previewLblOptions" class="ps-lbl-preview">
  </ps-label-input>
  <span [innerHTML]="delimiter"></span>
  <ps-label-input [id]="'value_preview_'+ id " [options]="previewValOptions" class="ps-value-preview"></ps-label-input>
</div>