ps-drafts-report round-progress.shade-0-20 {
    stroke: #df91ff;
}

ps-drafts-report round-progress.shade-20-40 {
    stroke: #c64bf9;
}

ps-drafts-report round-progress.shade-40-60 {
    stroke: #b400ff;
}

ps-drafts-report round-progress.shade-60-80 {
    stroke: #7e05b1;
}

ps-drafts-report round-progress.shade-80-100 {
    stroke: #4b006b;
}