<ps-container-complex [id]="'password_confirm' + id">

  <ps-input-password class="pc-input-label ps-input-text-font-color" [id]="'password_' + id"
    [options]="options.password" (onPsEmpty)="onfieldEmpty('pass')"
    (onPsChange)="onChangePassword($event)" #passwordRef>
  </ps-input-password>



  <ps-input-password class="pc-input-label ps-input-text-font-color" [id]="'confirmPassword_' + id"
    [options]="options.confirmPassword" (onPsEmpty)="onfieldEmpty('conf')"
    (onPsChange)="onChangeConfirmPassword($event)" #confirmPasswordRef >
  </ps-input-password>
  <ng-container>
    <p *ngIf="errorMsg" class="validation-message">
      <ps-label [options]="{labelKey: errorMsg}"></ps-label>
    </p>
  </ng-container>
</ps-container-complex>