forgot-credentials .or-label-separator{
    display: none !important;
}

forgot-credentials .ps-or-label{
    color: white;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}
forgot-credentials .forget-username-checkbox .ps-select-checkbox-label{
    flex: 0 0 50% !important;
}
forgot-credentials .forget-username-checkbox ion-item{
    --min-height:15px !important;
}