ion-col p {
    margin: 0px !important;
    margin-top: 10px !important;
}

h2 {
    text-align: center
}

.ps-preview {
    box-shadow: 1px 1px 8px rgba(0, 90, 66, 0.5);
    padding: 10px !important;
    margin: 5px auto;
}

.ps-preview-title {
    text-align: center;
}

.preview-label {
    display: block !important;
}