:root {
    --ps-assets-url: './assets';
    --color-mixer: hsl(264, 47%, 22%);
    --ps-primary-hue: 264;
    --ps-primary-saturation: 47%;
    --ps-primary-light: 22%;
    --ps-secondary-hue: 273;
    --ps-secondary-saturation: 26%;
    --ps-secondary-light: 67%;
    --ps-primary-color: hsl(var(--ps-primary-hue), var(--ps-primary-saturation), var(--ps-primary-light));
    /* blue */
    --ps-secondary-color: hsl(var(--ps-secondary-hue), var(--ps-secondary-saturation), var(--ps-secondary-light));
    /* silver */
    --ps-app-background-color: hsla(272, 63%, 14%, 1);
    /* white */
    --ps-highlight-background-color: hsl(273, 41%, 41%);
    /* orange */
    --ps-font-color-opp-app-background: hsl(211, 60%, 23%);
    --ps-font-color-opp-primary-color: #ffffff;
    --ps-font-color-opp-secondary-color: white;
    --ps-font-color-opp-highlight-color: white;
    --ps-font-light-color: white;
    --ps-font-dark-color: #551f82;
    --ps-primary-degree-1-color: #8861A7;
    --ps-primary-degree-2-color: #A284BA;
    --ps-primary-degree-3-color: #BDA7CE;
    --ps-primary-degree-4-color: #D7CAE2;
    --ps-secondary-degree-1-color: #B3A191;
    --ps-secondary-degree-2-color: #C09B7B;
    --ps-secondary-degree-3-color: #CD9666;
    --ps-secondary-degree-4-color: #DA9151;
    --ps-font-size-ratio-initial: 1;
    --ps-xs-font: calc(0.6rem * var(--ps-font-size-ratio-initial)* var(--ps-font-size-ratio));
    --ps-sm-font: calc(0.75rem * var(--ps-font-size-ratio-initial)* var(--ps-font-size-ratio));
    --ps-md-font: calc(0.85rem * var(--ps-font-size-ratio-initial)* var(--ps-font-size-ratio));
    --ps-lg-font: calc(1rem * var(--ps-font-size-ratio-initial)* var(--ps-font-size-ratio));
    --ps-xl-font: calc(1.2rem * var(--ps-font-size-ratio-initial)* var(--ps-font-size-ratio));
    --ps-xl-font: calc(1.35rem * var(--ps-font-size-ratio-initial)* var(--ps-font-size-ratio));
    --ps-xxl-font: calc(1.5rem * var(--ps-font-size-ratio-initial)* var(--ps-font-size-ratio));
    --ps-form-container-padding-ratio-initial: 1;
    --ps-form-container-padding: calc(60px * var(--ps-form-container-padding-ratio-initial));
    --ps-hint-message-font-color: hsl(31, 90%, 55%);
    --ps-tooltip-message-font-color: hsl(0, 0%, 100%);
    --ps-tooltip-message-background-color: hsl(221, 29%, 25%);
    --scroll-bar-width: 3px;
    --scroll-bar-border-radius: 10px;
    --scroll-bar-thumb-color: var(--ps-primary-color);
    --scroll-bar-track-box-shadow: inset 0 0 5px hsl(0, 0%, 50%);
    --ps-scroll-bar-color-primary: #845EA4;
    --ps-scroll-bar-color-secondary: #3f2b50;
    --ps-positive-value-font-color: var(--ps-primary-color);
    --ps-negative-value-font-color: hsl(0, 100%, 50%);
    --ps-neutral-value-font-color: hsl(34, 100%, 58%);
    --ps-debit-font-color: hsl(244, 100%, 50%);
    --ps-credit-font-color: hsl(0, 100%, 50%);
    --ps-section-border-radius: 5px;
    --ps-panel-border-radius: calc(var(--ps-section-border-radius) * 2);
    --ps-panel-expanded-header-background-color: rgba(37, 13, 58, 0%);
    --ps-panel-collapsed-header-background-color: rgba(37, 13, 58, 0%);
    --ps-fields-border-radius: calc(var(--ps-section-border-radius) * 3);
    --ps-buttons-border-radius: 0px;
    --ps-card-header-border-radius: calc(var(--ps-section-border-radius) * 2);
    --ps-loader-image-name: "spinner.gif";
    --ps-splash-screen-logo-name: 'BankLogo.png';
    --ps-container-footer-background: white;
    --ps-content-height: 0px;
    --ps-section-padding: 10px;
    --ps-application-top-padding: 15px;
    --ps-application-bottom-padding: 15px;
    --ps-application-left-padding: 5px;
    --ps-application-right-padding: 5px;
    --ps-app-opacity-degree: 0.4;
    --ps-app-opaque-background-color: none;
    --ps-panel-background-color: 272, 41%, 41%;
    --ps-form-container-background-color: hsla(0, 0%, 100%, calc(var(--ps-app-opacity-degree) * 0));
    --ps-highlighted-search-text-background: yellow;
    /* To remove the below after checking */
    --ps-input-label-font-color: purple;
    --ps-input-value-font-color: rgb(65, 55, 194);
    --ps-input-placeholder-font-color: cyan;
    --ps-panel-font-color: var(--ps-primary-color);
    --ps-gradient-orientation: to bottom;
    --ps-base-color: white;
    --ps-lbl: #306CAF;
    --ps-select-placeholder: #bbbbbb;
    --ps-lbl-preview: #355EA9;
    --ps-value-preview: rgb(0, 0, 0);
    --ps-lbl-focus-color: #3F429E;
    --ps-lbl-focus-zoom: 0.9;
    --ps-lbl-required-star: red;
    --ps-danger-color: orange;
    --ps-error-color: red;
    --ps-success-color: green;
    --ps-account-color1: rgb(98, 99, 128);
    --ps-account-color2: rgb(153, 154, 173);
    --ps-main-font-color: var(--ps-base-color);
    --ps-page-title-font-size: 3rem;
    --ps-page-title-font-color: white;
    --ps-disabled-components-border-color: #ececec;
    --ps-component-font-border-color: #1b3f82;
    --ps-component-border-enabled: none;
    --ps-component-background-enabled: #f4f4f4;
    --ps-card-header-color: #AD95C1;
    --ion-color-light: var(--ps-secondary-color);
    --ion-color-light-contrast: var(--ps-font-light-color);
    --ion-color-dark: var(--ps-font-light-color);
    /* END To remove the below after checking */
    /*
        Report css variables
    */
    --ps-report-header-color: #6b6b6b;
    --ps-report-content-color: hsl(272, 67%, 11%);
    --ps-report-header-title-color: #f4f5f8;
    --ps-report-header-title-size: 15px;
    --ps-report-header-label-color: #f4f5f8;
    --ps-report-header-value-color: hsl(302, 89%, 19%);
    --ps-report-content-label-color: #6b6b6b;
    --ps-report-content-label-value-color: white;
    --ps-report-content-label-value2-color: white;
    --ps-report-content-label-value3-color: white;
    --ps-report-content-border-color: #6b6b6b;
    --ps-report-header-image-width: 30px;

    /*
        popup messages images definitions
    */
    --ps-success-message-image-name: 'success-message.svg';
    --ps-error-message-image-name: 'invalid-credentials.svg';
    --ps-info-message-image-name: 'info-message.svg';
    --ps-fatal-message-image-name: 'error-message.svg';
    --ps-no-network-image-name: 'NoNetwork.svg';

    --ps-scrollbar-color-primary: var(--scroll-bar-thumb-color);
    --ps-scrollbar-color-secondary: var(--scroll-bar-track-box-shadow);
    --ps-scrollbar-color-firefox: var(--ps-scrollbar-color-primary) var(--ps-scrollbar-color-secondary);
    --ps-scrollbar-width: thin;


    /*  menu section */
    --ps-menu-box-background: #5B3A6CB7;

    /* container-item */
    --ps-background-color-container-item: #412D51;
    --ps-background-color-container-item-details: #47215f;
    --ps-subtitle-background-color: #1804243B;
    --ps-container-edit-subtitle-background: #301441;

    /* header */
    --ps-header-background: #321850;

    /* toggle */
    --ps-toggle-checked-background: #A566C4;

    /* account balance */
    --ps-balance-color: #D1CAD8;

    --ps-cif-message-background-color: hsl(272deg 63% 14% / 19%);

    /*header*/
    --ps-main-title-background: linear-gradient(to right, var(--ps-app-header-color-stop1), var(--ps-app-header-color-stop2));
    --ps-main-title-color: var(--ps-font-color-opp-secondary-color);

    /*header*/
    --container-panel-content-background-color: hsla(var(--ps-panel-background-color), calc(var(--ps-app-opacity-degree) * 1));
    /*form content*/
    --ps-form-content-padding: 10px;
    /*colors*/
    --ps-gradient-color-1: #0b21b3;

    --ps-gradient-color-2: #7b4007;
    --ps-gradient-color-opposite: linear-gradient(135deg, #64392b, #0b21b3);
    --ps-search-icon-color: gray !important;
    /*general*/
    --ps-web-background-color: linear-gradient(43deg, hsla(0, 0%, 41.2%, .02), hsla(0, 0%, 41.2%, .02) 62%, hsla(0, 0%, 89%, .02) 0, hsla(0, 0%, 89%, .02) 69%, rgba(24, 24, 24, .02) 0, rgba(24, 24, 24, .02) 80%, rgba(13, 13, 13, .02) 0, rgba(13, 13, 13, .02) 82%, rgba(13, 13, 13, .02) 0, rgba(13, 13, 13, .02)), linear-gradient(31deg, hsla(0, 0%, 60.8%, .02), hsla(0, 0%, 60.8%, .02) 29%, hsla(0, 0%, 64.3%, .02) 0, hsla(0, 0%, 64.3%, .02) 41%, hsla(0, 0%, 78.4%, .02) 0, hsla(0, 0%, 78.4%, .02) 74%, hsla(0, 0%, 89.8%, .02) 0, hsla(0, 0%, 89.8%, .02) 79%, rgba(15, 15, 15, .02) 0, rgba(15, 15, 15, .02)), linear-gradient(319deg, rgba(39, 39, 39, .02), rgba(39, 39, 39, .02) 17%, rgba(49, 49, 49, .02) 0, rgba(49, 49, 49, .02) 25%, rgba(59, 59, 59, .02) 0, rgba(59, 59, 59, .02) 32%, hsla(0, 0%, 76.1%, .02) 0, hsla(0, 0%, 76.1%, .02) 46%, hsla(0, 0%, 86.3%, .02) 0, hsla(0, 0%, 86.3%, .02)), linear-gradient(113deg, hsla(0, 0%, 73.7%, .02), hsla(0, 0%, 73.7%, .02) 15%, hsla(0, 0%, 87.5%, .02) 0, hsla(0, 0%, 87.5%, .02) 46%, rgba(21, 21, 21, .02) 0, rgba(21, 21, 21, .02) 88%, rgba(93, 93, 93, .02) 0, rgba(93, 93, 93, .02) 94%, hsla(0, 0%, 51%, .02) 0, hsla(0, 0%, 51%, .02)), linear-gradient(29deg, hsla(0, 0%, 52.5%, .02), hsla(0, 0%, 52.5%, .02) 27%, hsla(0, 0%, 71%, .02) 0, hsla(0, 0%, 71%, .02) 41%, rgba(81, 81, 81, .02) 0, rgba(81, 81, 81, .02) 46%, hsla(0, 0%, 99.2%, .02) 0, hsla(0, 0%, 99.2%, .02) 58%, rgba(74, 74, 74, .02) 0, rgba(74, 74, 74, .02)), linear-gradient(90deg, #e5e5e5, #e4e4e4);
    /*draft-report*/
    --ps-draft-report-background-color: #0b21b3ad;
    /*map*/
    --ps-map-legend-color: darkorange;
    /*main header ion page*/
    --ps-header-web-title-background-color: linear-gradient(25deg, darkgray, orange);
    /*nav header*/
    --ps-nav-header-height: 0px;
    --ps-page-margin: 25px;
    /*notitcation*/
    --ps-notification-background-color: #f56e0f40;
    /* cif */
    --ps-cif-button-label-color: orange;
    --ps-cif-content-color: white;
    /*tree menu*/
    --ps-menu-tree-label-color: #fff;
    --ps-menu-tree-selected-hover-color: hsla(0, 0%, 87.8%, .2);
    /*strucure*/
    --ps-shadow-color: rgba(0, 0, 0, 0.5);
    --ps-form-content-background-color: #ffffff47;
    /*login*/
    --ps-login-second-label-color: #ffffffab;
    /* margin left and right for web */
    --ps-margin-left: 0px;
    /*segment*/
    --ps-segment-selected-background-color: transparent;
    --ps-segment-label-color: white;
    --ps-segment-background-color: #8080801f;

        
    --ps-popup-button-background-color: #A566C4;
    --ps-popup-background-color:#4B2D5D;
    --ps-alert-modal-background-color: hsl(272deg 67% 23% / 73%);
    --ps-notification-background-color: #5B3A6CB7;
    --ps-header-background-color:rgb(47,30,79);
    --ps-account-list-title-background-color: #7D648E;
    --ps-account-list-title-font-edit-color: #A566C4;
    --ps-selected-language-background-color: #4B2D5D;
    --ps-prayer-time-selected-time-color: #4B2D5D;
;
}

.isWeb-Layout {
    /*header*/
    --ps-nav-header-background: linear-gradient(to right, var(--ps-app-header-color-stop1), var(--ps-app-header-color-stop2));
    --ps-main-title-background: #8080807a;
    --ps-main-title-color: white;
    /* --ps-panel-expanded-header-background-color: transparent; */
    --container-panel-content-background-color: #80808047;
    --ps-main-title-background: transparent;
    /*panel header*/
    --ps-panel-expanded-header-background-color: linear-gradient(to right, #ffa50094, #d48639, #ffa50094);
    --ps-panel-collapsed-header-background-color: linear-gradient(to right, #ffa5007d, #da9654, #ffa5007d);
    --container-panel-content-background-color: transparent;
    --ps-form-content-padding: 0px;
}

.isWeb-Layout.userIsNotLoggedIn {
    --ps-form-content-padding: 10px;
}