/* .ps-complex-credit-card{
    margin: 0;
}
.mb-10{
    margin-bottom: 10px;
}
.ml-10{
    margin-left: 10px;
}
.mr-10{
    margin-right: 10px;
}
.pr-10{
    padding-right: 10px !important;
}
.pl-0{
    padding-left: 0px !important;
}
.card_seprator{
    font-size: 25px;
    color: var(--ps-lbl);
    margin-top: 10px;
}
.credit-card-label p.validation-message {
    margin-bottom: 0px;
} */