<ps-template-stepper [options]="stepperOptions" [id]="stepperOptions.stepperName">
  <ps-form-step step1 [id]="stepperOptions.namesofSteps[0]">
    <ps-container-panel [options]="panelOptions1Step1" id="credit_card_req_panel">



      <ps-input-varchar id="cardHolderName" [options]="cardHolderNameOptions">
      </ps-input-varchar>


      <ps-dropdown-card-types id="cardType" [options]="cardTypeOptions" (onPsChange)="onCardTypeChange($event)">
      </ps-dropdown-card-types>


      <ps-input-display-only id="withdrawal_limit" [options]="withdrawalLimitOptions">
      </ps-input-display-only>


      <ps-input-display-only id="posLimit" [options]="posLimitOptions">
      </ps-input-display-only>


      <ps-input-display-only id="billingCycle" [options]="billingCycleOptions">
      </ps-input-display-only>



      <!-- To Do: add new ddl for minimum payment -->



      <ps-lookup-own-accounts id="settlementAccountid" [options]="settlementAccountOptions">
      </ps-lookup-own-accounts>


      <ps-lov-delivery-location id="deliveryLocation" [options]="deliveryLocOptions"
        (onPsChange)="onDeliveryLocationChange($event)">
      </ps-lov-delivery-location>


      <ps-input-display-only-cif-address-home id="homeAddressDetails" [options]="homeAddressDetailsOptions">
      </ps-input-display-only-cif-address-home>
      <ps-input-display-only-cif-address-work id="workAddressDetails" [options]="workAddressDetailsOptions">
      </ps-input-display-only-cif-address-work>


      <ps-keyin-textarea id="manualAddress" [options]="manualAddressOptions">
      </ps-keyin-textarea>


      <ps-input-display-only *ngIf="enableCifBranch" id="accountCifBranch" [options]="branchOptions">
      </ps-input-display-only>


    </ps-container-panel>
    <ps-container-panel [options]="panelOptions2Step1" id="credit_card_req_pane2" [style.visibility]="enableCifBranch ?
              'hidden' : 'visible'">
      <ps-complex-select-branch [options]="selectBranchOptions" (onPsChange)="onSelectBranch($event)">
      </ps-complex-select-branch>
    </ps-container-panel>
    <ps-container-panel [options]="panelOptions3Step1" id="credit_card_req_pane2-1">
      <ps-complex-select-branch [options]="selectDestinationBranchOptions"
        (onPsChange)="onSelectDestinationBranch($event)">
      </ps-complex-select-branch>
    </ps-container-panel>
  </ps-form-step>


  <ps-form-step step2 [id]="stepperOptions.namesofSteps[1]">
    <ps-container-panel [options]="atmBranchesPanelOptions" [style.visibility]="enableCifBranch ? 'hidden' : 'visible'">
      <div class="dcMapLocator">
        <ps-map-atm-branches class="component-map-container" [options]="mapAtmBranchesOptions">
        </ps-map-atm-branches>
      </div>
    </ps-container-panel>
    <ps-container-panel [options]="panelOptionsStep2" id="destBranch">
      <div class="dcMapLocator">
        <ps-map-atm-branches class="component-map-container" [options]="destinationBranchesOptions">
        </ps-map-atm-branches>
      </div>
    </ps-container-panel>
  </ps-form-step>
</ps-template-stepper>