.example-option-img {
    vertical-align: middle;
    margin-right: 8px;
  }

  // .example-container {
  //   display: flex;
  //   flex-direction: column-reverse;
  // }

  .myPanelClass{
    margin-top: 150px !important; 
}