<ps-template-stepper [options]="stepperOptions" [id]="stepperOptions.stepperName">
  <ps-form-step step1 [id]="stepperOptions.namesofSteps[0]">

    <ps-container-panel [options]="panelOptions1Step1" id="credit_card_req_panel">

      <ps-lookup-credit-cards [options]="creditCardsLookupOptiops" (onCreditCardChange)="creditCardListChange($event)">
      </ps-lookup-credit-cards>


      <ps-lookup-own-accounts id="'transferFrom'+ id" #toAccountRef [options]="accountListOptions"
        (onAccountChange)="toAccountChange($event)"></ps-lookup-own-accounts>


      <!--
          <ps-lookup-own-accounts id="'transferTo'+ id" #toAccountRef [options]="toaccountList"
        (onAccountChange)="onAccountChange($event)"></ps-lookup-own-accounts>     
       -->

      <ps-complex-exchange [options]="complexExchangeOptions"></ps-complex-exchange>

    </ps-container-panel>



  </ps-form-step>

</ps-template-stepper>