//RICHIE: style to move to theme
/* 
.lbl-required-star {
  color: map-get($colors, danger);
}

.ps-custom-component {
  color: #2B61C6;
}

.ps-custom-component-preview {
  font-size: 16px;
}

.cust-button {
  background-color: transparent;
  border-radius: 25px; //width: 75%;
  font-size: 1em;
  background: white;
}

.validation-message {
  color: map-get($colors, danger) !important;
  margin: 0 !important;
}

.error-field {
  border: 1px solid map-get($colors, danger) !important;
  .ps-lbl {
    color: map-get($colors, danger) !important;
  }
  .cust-button ion-icon {
    color: colors($colors, important)
  }
} */